@import url("reset.css");
@import url("global-forms.css");

/***** Global *****/
/* Body */
body {
    background: #f5f4ef;
    color: #000305;
    font-size: 87.5%; /* 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

