
/***** Global *****/
/* Body */
body {
    background: #ddd;
    color: #000305;
    font-size: 87.5%; /* 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    text-align: left;
}

h1 {
    font-size: 1.5em;
}

strong {
    font-variant: small-caps;
    
}

#established {
    margin-left: 19%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    
}

#top{
    background: #444
    border-bottom-left: 5px;
    border-bottom-right: 5px;   
}

#logo {
    display: block;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Navigation */
nav{
    /*background: #000305;*/
    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 2em auto;
    padding: 0;
    text-align: center;
    width: 90%;
    background: #000;
    border-radius: 10px;
    
}

ul{
    padding: 0px;
    list-style: none; 
    width: 100%;
    border-radius: 5px;
    margin: 0px auto;
/*    background: #354;*/
}


li{
    float: left;
    display: inline;
    margin: 0;
}

nav a:link, nav a:visited {
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
}
input{
    background: #000;
    color: #fff;
    border: 0px;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.01em;
    padding: 5px 1.5em;
    height: 40px;
}
nav a:hover, nav a:active, nav .active a:link, nav .active a:visited, input:hover, input:active{
    background: #FF3300;
    color: #FFF;
    text-shadow: none !important;
}

nav li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#container .column {
			position: relative;
			float: left;
}

#container
{
    padding-left: 250px;
    padding-right: 200px;
    min-width: 550px;
}

#featured{
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    background: #fff;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
}

#sidepanel
{
    padding: 20px;
    width: 160px;
    background: #ffffff;
    border-radius: 10px;
    margin-right: -200px;
    
}

#sidepanel input
{
    margin: 15px;
    margin-left: 0px;
    
}

#leftpanel
{
    padding: 20px;
    right: 250px;
    width: 220px; 
    margin-left: -100%;
    border-radius: 10px;
    background: #000305;
    font-size: 1.143em;
    line-height: 30px;
    text-align: center;

}

#leftpanel h2 {
    color: #fff;
}

#leftpanel a:link, #leftpanel a:visited {
    color: #fff;
    background: #333;
    display: inline-block;
    height: 30px;
    width: 220px;
    margin-bottom: 10px;
    text-decoration: none;
}
#leftpanel a:hover, #leftpanel a:active, #leftpanel .active a:link, #leftpanel .active a:visited, input:hover, input:active{
    background: #FF3300;
    color: #FFF;
    text-shadow: none !important;
}
